---
http_interactions:
- request:
    method: post
    uri: https://mc.lolipop.jp/api/projects
    body:
      encoding: UTF-8
      string: '{"db_password":"<PASSWORD>","type":"rails"}'
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 25883, 20171211-014813.205, 115017.171
      etag:
      - W/"52-8tdamrxkn/VW1njBrsbP7xSCi2o"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"domain":"awesome-kurosaki-4084.lolipop.io","sub_domain":"awesome-kurosaki-4084"}'
  recorded_at: Tue, 12 Dec 2017 09:45:05 GMT
recorded_with: VCR 3.0.3
