---
http_interactions:
- request:
    method: post
    uri: https://mc.lolipop.jp/api/projects
    body:
      encoding: UTF-8
      string: '{"payload":{"username":"<USERNAME>","password":"<PASSWORD>","email":"<EMAIL>"},"type":"wordpress"}'
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 25883, 20171211-014813.205, 115353.587
      etag:
      - W/"54-37TYJVGWpO3/pepk9+blweQ0+jU"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"domain":"passionate-iizuka-6926.lolipop.io","sub_domain":"passionate-iizuka-6926"}'
  recorded_at: Tue, 12 Dec 2017 09:50:41 GMT
recorded_with: VCR 3.0.3
