---
http_interactions:
- request:
    method: post
    uri: https://mc.lolipop.jp/api/projects
    body:
      encoding: UTF-8
      string: '{"type":"rails","db_password":"<PASSWORD>"}'
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 25934, 20171211-014817.650, 102765.455
      etag:
      - W/"46-sLyGczO0mD2rVz77wEQxcnfs5zI"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"domain":"gray-hyuga-2415.lolipop.io","sub_domain":"gray-hyuga-2415"}'
  recorded_at: Tue, 12 Dec 2017 06:20:58 GMT
recorded_with: VCR 3.0.3
