---
http_interactions:
- request:
    method: post
    uri: https://staging.mc.lolipop.jp/api/projects
    body:
      encoding: UTF-8
      string: '{"haco_type":"rails"}'
    headers:
      Authorization:
      - "Bearer <TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - s, 7161, 20171120-033256.789, 722.751
      etag:
      - W/"58-OyicGWDkF4A+SVG9DJs+YtqbhnU"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"project_name":"tight-ureshino-5550","domain":"tight-ureshino-5550.staging.lolipop.io"}'
  recorded_at: Mon, 20 Nov 2017 03:44:54 GMT
recorded_with: VCR 3.0.3
