---
http_interactions:
- request:
    method: post
    uri: https://api.mc.lolipop.jp/v1/projects
    body:
      encoding: UTF-8
      string: '{"db_password":"FoobarSecretPW123$#","sub_domain":"lolp-rb-test","type":"rails"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 4265, 20180412-032136.205, 10095.897
      etag:
      - W/"40-xgvTnlTFBQs52lplr+X+mIIHLSw"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"domain":"lolp-rb-test.lolipop.io","sub_domain":"lolp-rb-test"}'
  recorded_at: Thu, 12 Apr 2018 06:09:49 GMT
recorded_with: VCR 4.0.0
