---
http_interactions:
- request:
    method: post
    uri: https://api.mc.lolipop.jp/v1/projects
    body:
      encoding: UTF-8
      string: '{"payload":{"username":"foobar","password":"FoobarSecretPW123$#","email":"foobar@example.com"},"type":"wordpress"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 4121, 20180412-032127.002, 9678.749
      etag:
      - W/"4c-+YaFM0UDy1cC+e9L8XUUbJ/3qcA"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"domain":"agile-maebaru-4396.lolipop.io","sub_domain":"agile-maebaru-4396"}'
  recorded_at: Thu, 12 Apr 2018 06:02:43 GMT
recorded_with: VCR 4.0.0
