---
http_interactions:
- request:
    method: post
    uri: https://mc.lolipop.jp/api/projects
    body:
      encoding: UTF-8
      string: '{"type":"invalid_template","db_password":"<PASSWORD>"}'
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-ohr-status:
      - m, 25934, 20171211-014817.650, 102879.644
      etag:
      - W/"b-EFiDB1U+dmqzx9Mo2UjcZ1SJPO8"
    body:
      encoding: UTF-8
      string: Bad Request
  recorded_at: Tue, 12 Dec 2017 06:22:52 GMT
recorded_with: VCR 3.0.3
