---
http_interactions:
- request:
    method: post
    uri: https://api.mc.lolipop.jp/v1/projects/lolp-rb-test.lolipop.io/custom-domains
    body:
      encoding: UTF-8
      string: '{"domain":"example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 4161, 20180412-032129.842, 10381.546
      etag:
      - W/"131-RTqWqGjGizIpursH7e+awYpCxSU"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"id":"44483aa6-006b-4f8e-81e1-6419b3684871","backendProjectID":"0402ccc6-3523-4d1c-a2ce-e237c144d669","userID":"9de66556-6a03-487e-a43b-cedd0696371c","status":0,"name":"lolp-rb-test.lolipop.io","kind":"rails","paymentID":null,"createdAt":"2018-04-12T06:09:49.239Z","updatedAt":"2018-04-12T06:09:49.239Z"}'
  recorded_at: Thu, 12 Apr 2018 06:14:28 GMT
recorded_with: VCR 4.0.0
