---
http_interactions:
- request:
    method: post
    uri: https://api.mc.lolipop.jp/v1/authenticate
    body:
      encoding: UTF-8
      string: '{"username":"<USERNAME>","password":"<PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 495, 20200220-080016.949, 87065.08560214
      etag:
      - W/"18a-yWK/U07FHyD2toezmtGgsWl+3o8"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjNmZkNDU3YS1jNGFmLTRiOTQtYjU5Zi01YmYwODk1YzFjYTgiLCJpYXQiOjE1ODIyNzI2Nzk5NDMsImV4cCI6MTU4MjMxNTg3OTk0MywidXNlcklkIjoiYmJlZjI2MTMtZTI4Yi00MDUyLWJlZmEtODVhNWU3NzVkNzUyIiwidXNlcl9pZCI6ImJiZWYyNjEzLWUyOGItNDA1Mi1iZWZhLTg1YTVlNzc1ZDc1MiIsInRva2VuS2V5IjoiMGFhY2FlNTgtMDFmYi00M2NlLTkyOGEtZTQzMDQ2ZDc5YTZkIn0.i9N0ngbHY4S3t7E5tRqWJcbt7jSuWypKUvPSg6dTEWY"'
  recorded_at: Fri, 21 Feb 2020 08:11:20 GMT
- request:
    method: delete
    uri: https://api.mc.lolipop.jp/v1/projects/lolp-rb-test.lolipop.io/guest-pubkey/guest-pubkey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      x-ohr-status:
      - m, 487, 20200220-080016.991, 87066.223715522
      etag:
      - W/"a-bAsFyilMr4Ra1hIU5PyoyFRunpI"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 21 Feb 2020 08:11:20 GMT
- request:
    method: get
    uri: https://api.mc.lolipop.jp/v1/projects/lolp-rb-test.lolipop.io/guest-pubkey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 19797, 20200220-080017.578, 87066.159359982
      etag:
      - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 21 Feb 2020 08:11:21 GMT
recorded_with: VCR 5.0.0
