---
http_interactions:
- request:
    method: post
    uri: https://api.mc.lolipop.jp/v1/authenticate
    body:
      encoding: UTF-8
      string: '{"username":"<USERNAME>","password":"<PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 31365, 20190624-054054.298, 401.847
      etag:
      - W/"13f-cao3u6iqZMPDvGtyCgAlmz3S3Vg"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI3NTA4N2U4NC02YjZiLTRlOGYtYTU2Ny03YmEwOGJmYTMwZTAiLCJpYXQiOjE1NjEzNTUyNTQsImV4cCI6MTU2MjU2NDg1NCwidXNlcklkIjoiYmJlZjI2MTMtZTI4Yi00MDUyLWJlZmEtODVhNWU3NzVkNzUyIiwidXNlcl9pZCI6ImJiZWYyNjEzLWUyOGItNDA1Mi1iZWZhLTg1YTVlNzc1ZDc1MiJ9.0ZCxmMwegBB_u6peBWUGJMajxlMp4P9wWXoj37hGCf4"'
  recorded_at: Mon, 24 Jun 2019 05:47:34 GMT
- request:
    method: post
    uri: https://api.mc.lolipop.jp/v1/projects
    body:
      encoding: UTF-8
      string: '{"payload":{"username":"foobar","password":"FoobarSecretPW123$#","email":"foobar@example.com"},"type":"wordpress"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 23077, 20190624-054051.569, 404.816
      etag:
      - W/"7a-FAZ5Jl0VeMEZEEu+b+LfVwee1KI"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"id":"a4772e6e-8d8f-42c0-95aa-d2ff8f15768a","domain":"dawn-kirishima-7553.lolipop.io","sub_domain":"dawn-kirishima-7553"}'
  recorded_at: Mon, 24 Jun 2019 05:47:35 GMT
- request:
    method: get
    uri: https://api.mc.lolipop.jp/v1/projects/dawn-kirishima-7553.lolipop.io/storage
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-ohr-status:
      - m, 20536, 20190624-054051.687, 405.732
      etag:
      - W/"13-/70LdyMNgL+PAJa+Q/RtnRF82z8"
    body:
      encoding: UTF-8
      string: Service Unavailable
  recorded_at: Mon, 24 Jun 2019 05:47:35 GMT
recorded_with: VCR 5.0.0
