---
http_interactions:
- request:
    method: post
    uri: https://api.mc.lolipop.jp/v1/authenticate
    body:
      encoding: UTF-8
      string: '{"username":"<USERNAME>","password":"<PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 1683, 20190624-034242.546, 1827.755
      etag:
      - W/"13f-w6wps7XSKsUKuQkyetCIOMSnme4"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxZmExODQ1NC1kOTc5LTRiODMtYWRkYi01NmEwNjQyMWFiYWMiLCJpYXQiOjE1NjEzNDk1ODgsImV4cCI6MTU2MjU1OTE4OCwidXNlcklkIjoiYmJlZjI2MTMtZTI4Yi00MDUyLWJlZmEtODVhNWU3NzVkNzUyIiwidXNlcl9pZCI6ImJiZWYyNjEzLWUyOGItNDA1Mi1iZWZhLTg1YTVlNzc1ZDc1MiJ9.PORxCH3JSKw3H9GBXDRSSaUnG55VVJoYdDRo1laKzSc"'
  recorded_at: Mon, 24 Jun 2019 04:13:08 GMT
- request:
    method: post
    uri: https://api.mc.lolipop.jp/v1/projects
    body:
      encoding: UTF-8
      string: '{"payload":{"username":"foobar","password":"FoobarSecretPW123$#","email":"foobar@example.com"},"type":"wordpress"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 4754, 20190624-034244.311, 1826.21
      etag:
      - W/"76-oZfHLC1p1uJgSXyBz9dqO0gsXvY"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"id":"e03a8250-d49d-498b-b869-e0f60fc6ab58","domain":"silent-saito-5295.lolipop.io","sub_domain":"silent-saito-5295"}'
  recorded_at: Mon, 24 Jun 2019 04:13:09 GMT
- request:
    method: get
    uri: https://api.mc.lolipop.jp/v1/projects/silent-saito-5295.lolipop.io/storage
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 4761, 20190624-034244.256, 1827.133
      etag:
      - W/"32-gZxk36uKDBeKx42MtOvLgEcGsPg"
    body:
      encoding: UTF-8
      string: '{"errors":["Request failed with status code 500"]}'
  recorded_at: Mon, 24 Jun 2019 04:13:09 GMT
recorded_with: VCR 5.0.0
