---
http_interactions:
- request:
    method: get
    uri: https://api.mc.lolipop.jp/v1/projects/lolp-rb-test.lolipop.io/environment-variables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 4265, 20180412-032136.205, 9590.543
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"MC_DB_USERNAME":"f8b4fc79d4e4f4e9e5c2ac5234e5888c","sample":"sample","MC_DB_HOSTNAME":"mysql-1.mc.lolipop.lan","PATH":"/var/app/.nodebrew/current/bin:/usr/local/bundle/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin","RAILS_MASTER_KEY":"2ef6388b766a6273ffd8d5e32fa7546a","MC_DATABASE":"f8b4fc79d4e4f4e9e5c2ac5234e5888c","MC_DB_PASSWORD":"Daimyoengineer1"}'
  recorded_at: Mon, 29 Jul 2019 08:59:53 GMT
recorded_with: VCR 5.0.0
