---
http_interactions:
- request:
    method: post
    uri: https://api.mc.lolipop.jp/v1/authenticate
    body:
      encoding: UTF-8
      string: '{"username":"<USERNAME>","password":"<PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 1647, 20190624-034240.166, 1210.916
      etag:
      - W/"13f-hAWIJmvsAjstYNyD/o6GFa0Cadw"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIyNjA0OGRmOC05MzExLTQ1NWItYWQ2Mi1jYjU4ZjFjM2Q5YjYiLCJpYXQiOjE1NjEzNDg5NjksImV4cCI6MTU2MjU1ODU2OSwidXNlcklkIjoiYmJlZjI2MTMtZTI4Yi00MDUyLWJlZmEtODVhNWU3NzVkNzUyIiwidXNlcl9pZCI6ImJiZWYyNjEzLWUyOGItNDA1Mi1iZWZhLTg1YTVlNzc1ZDc1MiJ9.l6yztkYGytioawaJXBvrvcGMQ_9sosrivqfMqw36mCg"'
  recorded_at: Mon, 24 Jun 2019 04:02:49 GMT
- request:
    method: get
    uri: https://api.mc.lolipop.jp/v1/projects/fancy-saga-7437.lolipop.io/storage
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 12680, 20190624-034240.477, 1211.229
      etag:
      - W/"4b-25TwZz9Vyn9bKKePPoLpkJ0fdpM"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"diskLimit":10485760,"diskUsed":53356,"fileLimit":150000,"filesUsed":2210}'
  recorded_at: Mon, 24 Jun 2019 04:02:51 GMT
recorded_with: VCR 5.0.0
