---
http_interactions:
- request:
    method: post
    uri: https://api.mc.lolipop.jp/v1/authenticate
    body:
      encoding: UTF-8
      string: '{"username":"test@pepabo.com","password":"p@ssword"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 16105, 20180521-081347.601, 2855.506
      etag:
      - W/"ff-XPsIJ1CuFhWSuvcOK51CDFFlVSw"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIyZGM4YjJmMC1iYzIyLTRmZGItYjFlNS1mNTdlNWRlM2ZlY2UiLCJpYXQiOjE1MjY4OTMyODAsImV4cCI6MTUyODEwMjg4MCwidXNlcl9pZCI6IjNhMjE2M2VlLTVjZGQtNGQ5OS1hYjVlLTk3NWUzZjI5MTY1NyJ9.vQDcOgfmpEL_nvHHCmfczC05r_yZychYJIik2q91RQM"'
  recorded_at: Mon, 21 May 2018 09:01:20 GMT
- request:
    method: get
    uri: https://api.mc.lolipop.jp/v1/pubkeys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ohr-status:
      - m, 32022, 20180521-081337.701, 2864.832
      etag:
      - W/"ed-smgYbY3jvfLSWbrzj7hlGQmBjdA"
      front-end-https:
      - 'on'
    body:
      encoding: UTF-8
      string: '[{"name":"dojineko","key":"SHA256:kQmTF5MWpsmhod7Gb+nrluV1epHZKO+AVwmCsvEtBB4"},{"name":"k1low","key":"SHA256:34d2PPnrn7ghuBFtH3zcVwd1ED6c0kPsEwgHh+rmZ8o"},{"name":"sunecosuri","key":"SHA256:7KvQ8zhXJV7pdZb8Rp8btNgT7J/J82e1ObkfnUSOB9Y"}]'
  recorded_at: Mon, 21 May 2018 09:01:20 GMT
recorded_with: VCR 4.0.0
